:root {
    --cor-1: #C10B4B;
    --cor-2: #fc3d80;
    --cor-3: #f56c9c;
    --cor-4: #F99FBF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--cor-1);
    padding: 20px 20px 0px 20px;
}

main {
    background: linear-gradient(var(--cor-4), var(--cor-3));
    min-height: 100vh;
}

#entrada {
    padding-bottom: 30px;
    display: flex;
    flex-flow: column;
}

#saida {
    display: none;
}

.titulo-post, .conteudo-post {
    padding: 30px;
    display: flex;
    flex-flow: column;
}

label {
    padding-bottom: 10px;
    font-weight: 700;
    color: var(--cor-1);
    text-shadow: 1px 1px 2px black;
}
input {
    padding: 10px;
    border-radius: 5px;
}
textarea {
    height: 150px;
    padding: 10px;
    border-radius: 5px;
}
p {
    padding: 30px;
    font-weight: 500;
}
button {
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(149, 225, 228);
    cursor: pointer;
}
button:hover {
    background-color: rgb(102, 231, 160);
    font-weight: 500;
    transform: scale(1.1);
}

#logo-head{
    max-width: 700px;
    height: 200px;
    background-image: url(src/logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-1);
    padding: 20px;
}

.menu {
    margin: auto;
    list-style: none;
    display: flex;
}

.menu a {
    color: var(--cor-4);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
}

.menu a:hover {
    background-color: var(--cor-4);
    color: var(--cor-1);
    border-radius: 10px;
}

footer{
    background-color: var(--cor-1);
}
footer p{
    color: var(--cor-4);
}