:root {
    --cor-1: #C10B4B;
    --cor-2: #fc3d80;
    --cor-3: #f56c9c;
    --cor-4: #F99FBF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--cor-1);
    padding: 20px 20px 0px 20px;
}

main {
    background: linear-gradient(var(--cor-4), var(--cor-3));
    min-height: 100vh;
}

#entrada {
    padding-bottom: 30px;
    display: flex;
    flex-flow: column;
}

#saida {
    padding: 30px;
    display: none;
    flex-flow: column;
}

.titulo-post, .conteudo-post {
    padding: 30px;
    display: flex;
    flex-flow: column;
}

label {
    padding-bottom: 10px;
    font-weight: 700;
    color: var(--cor-1);
    text-shadow: 1px 1px 2px black;
}
input {
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}
textarea {
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}
#msg {
    padding: 30px;
    font-weight: 500;
}
button {
    margin-left: 30px;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(149, 225, 228);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}
button:hover {
    background-color: rgb(102, 231, 160);
    font-weight: 500;
    transform: scale(1.1);
}

#logo-head{
    margin: auto;
    max-width: 700px;
    height: 200px;
    background-image: url(src/logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-1);
    padding: 20px;
}

.menu {
    margin: auto;
    list-style: none;
    display: flex;
}

.menu a {
    color: var(--cor-4);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
}

.menu a:hover {
    background-color: var(--cor-4);
    color: var(--cor-1);
    border-radius: 10px;
}

.divider-center {
    width: 93vw;
    height: 4px;
    background-color: var(--cor-1);
    margin: 10px -20px;
    border-radius: 10px;
}

.profile {
    width: 40px;
    height: 40px;
    background-color: #C10B4B;
    background: url(src/profile.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: 600;
}
.you {
    width: 100px;
    position: relative;
    left: 110%;
    top: 22%;
}
#renderizador-titulo, #renderizador-conteudo {
    padding: 20px 0px 0px 40px;
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

footer{
    background-color: var(--cor-1);
    text-align: center;
}
footer p{
    color: var(--cor-4);
}